<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-color">
    <a class="navbar-brand" routerLink="/">Donation-App</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/projects">Projects </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sponsors">Sponsors </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/associations">Associations</a>
        </li>
      </ul>
      <a routerLink="/login"><button class="btn btn-outline-light my-2 my-sm-0" type="submit">Log In</button></a>
    </div>
  </nav>
</header>
