


<main role="main" >

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active bg-transparent">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 carousel-div">
              <h1>Donation</h1>
              <h5>Welcome to our website where you can donate, help people and make yourself feel happier and more fulfilled.</h5>
            </div>
            <div class="col-lg-5">
              <img src="http://www.sclance.com/pngs/donation-png/donation_png_408864.png">
               </div>
          </div>
        </div>
      </div>


      <div class="carousel-item bg-transparent">
       <div class="container">
         <div class="row">
           <div class="col-lg-4">
             <img class="small-img" src="https://making-the-web.com/sites/default/files/clipart/160983/no-money-cliparts-160983-4663027.png">
           </div>
           <div class="col-lg-8 carousel-div">
             <h2>Free, and will always be!</h2>
             <h5>
               No money? No problem!
               <br>
               All you need is 30 sec of your time
             </h5>
           </div>
         </div>
        </div>
      </div>
      <div class="carousel-item bg-transparent">
        <div class="container">
          <div class="row">
            <div class="col-lg-6 carousel-div">
              <h2>700 239 <p class="statistics1">Donation</p> </h2>
              <p>127 </p> <p class="statistics2">Project</p>
            </div>
            <div class="col-lg-6">
              <img class="hands-img" src="https://www.sclance.com/backgrounds/charity-background/charity-background_521410.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</main>
